<% include ../partials/header %>
<div class="container">
    <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-8">
            <div class="thumbnail">
                <img class="img-responsive" src="<%= site.img %>">
                <div class="caption-full">
                    <div class="pull-right">
                    <h4><%= site.location %></h4>
                    <p><em><%= site.distance %> km from Earth</em></p>
                    <% if(currentUser && site.author.id.equals(currentUser._id)){ %>
                            <a class="btn btn-warning" href="/landingsites/<%= site._id %>/edit">Edit</a>
                            <form class="form-inline" action="/landingsites/<%= site._id %>?_method=delete" method="POST">
                                <button class="btn btn-danger">Delete</button>
                            </form>
                    <% } %>
                    </div>
                    <h4><a><%= site.name %></a></h4>
                    <h5><em>Posted by <%= site.author.username %></em></h5>
                    
                    <p><%= site.description %></p>
                </div>
            </div>
            <div class="well">
                <div class="text-right"><a class="btn btn-primary" href="/landingsites/<%= site._id %>/comments/new">Add comment</a></div>
                <hr>
                <% site.comments.forEach(function(element) { %>
                    <div class="row">
                        <div class="col-md-12">
                            <p>
                                <strong><%= element.author.username %></strong>
                                <span class="pull-right"><%= element.date.toDateString() %></span>
                            </p>
                            <% if(currentUser && element.author.id.equals(currentUser._id)){ %>
                                <div class="pull-right">
                                    <a class="btn btn-xs btn-warning" href="/landingsites/<%= site._id %>/comments/<%= element._id %>/edit">Edit</a>
                                    <form class="form-inline" action="/landingsites/<%= site._id %>/comments/<%= element._id %>?_method=delete" method="POST">
                                        <button class="btn btn-xs btn-danger">Delete</button>
                                    </form>
                                </div>
                            <% } %>
                            <p><%= element.text %></p>
                            <hr>
                        </div>
                    </div>
                <% }) %>
            </div>
        </div>
        <div class="col-md-2">
        </div>
    </div>
</div>
<% include ../partials/footer %>